.loginPage {
  display: flex;
  position: relative;
}

.loginPage-main-logo{
  position: absolute;
  left: 52px;
  top: 60px;
}

.loginPage-img {
  max-height: 100vh;
  width: auto;
  object-fit: cover;
}

.loginPage-right-pane {
  background-color: white;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.loginPage-button {
  width: 240px;
  height: 44px;
  line-height: 44px;
  background: #6565ff;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  text-align: center;

  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2.4rem auto;
}

.loginPage-button:hover {
  opacity: 0.85;
}

.buttonLogo {
  height: 16;
  width: 16;
  margin-right: 12px;
}

.center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}
